extends layout

block content
	script(id = "post-template" type ="text/x-handlebars-template")
		.ui.divided.list
			{{#each posts}}
			.item(id="{{id}}")
				a.ui.right.floated
					i.icon.triangle.down 
					a(href="https://news.ycombinator.com/item?id={{itemId}}") comments
				.ui.left.floated.ajax.upvote 
					i.thumbs.up.icon
				.content
					h3.header.title
						a(href="{{url}}") {{title}}
					.points 
						strong {{info.points}} points 
						em.date(style="") {{info.date}} 
			{{/each}}

	.ui.active.striped.progress
		.bar(style="width:100%")

	#posts_output
