extends layout

block content
	script(id = "post-template" type ="text/x-handlebars-template")
		
		{{#each posts}}
		.ui.divided.list
			.item(id="{{id}}")
				a.ui.right.floated
					i.icon.triangle.down.ajax.article

				.ui.left.floated
					i.thumbs.up.icon.ajax.upvote
				.content
					h3.header
						a(href="{{url}}") {{title}}
					.details 
						strong.points {{info.points}} points 
						em.date {{info.date}} 
		.ui.divided.list.article(id="{{id}}")
		{{/each}}

	script(id = "form-template" type ="text/x-handlebars-template")
		{{#if isCreate}}
		h2.header
			| Create a New Post
		.ui.form.segment
			.field
				.label Title
				input(type="text").title
			.field
				.label Link
				input(type="text").link
			button.ui.ajax.blue.submit.button.crud#create
				| Submit
		{{/if}}
		{{#if isLogin}}
		.ui.form.segment
			.header
				Login
			.field
				label Username
				.ui.left.labeled.icon.input
					input(type='text', placeholder='Username')
					i.user.icon
					.ui.corner.label
						i.icon.asterisk
			.field
				label Password
				.ui.left.labeled.icon.input
					input(type='password')
					i.lock.icon
					.ui.corner.label
						i.icon.asterisk
			.ui.error.message
				.header We noticed some issues
			button.ui.ajax.blue.submit.button.crud#login Login
		{{/if}}

				

	.ui.active.striped.progress
		.bar(style="width:100%")
	.ui.active.striped.progress
		.bar(style="width:100%")

	#output
